.contact__wrapper{
 display: flex;
    
    
}
.contact__image{
    flex-basis: 50%;
    
}
.contact__image img{
    width: 100%;
    height: 100vh;
}
.contact__form{
    flex-basis: 50%;
    height: 100vh;
    /* padding: 4rem 3rem; */
}
.contact__form h2{
    padding-left: 4rem;
    font-size: 5rem;
    font-weight: normal;
}
.contact__form--list{
    
}
.contact__form--item{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.contact__form--item input , textarea{
 width: 80%;
 border: none;
 border-bottom: 1px solid black;
}
.contact__form--item label{
    font-size: 1.5rem;
    color: gray;
    font-weight: 600;
    margin-bottom: 1rem;
}
.form__btn{
    margin: 6rem 4rem;
}
.error{
    color: red;
    font-size: 1.3rem;
    margin-top: 1rem;
}