.home__wrapper {
    height: 100vh;
    background-image: url(/public/images/food6.jpg);
    background-position: center;
    background-size: cover;
}

.home__desc {
  position: absolute;
  top: 33rem;
  left: 6rem;
  color: #fff;
  font-size: 2.5rem;
}
.home__desc--title {
  margin: 0;
}
